.hidden{
	display: none;
}
nav h1{
	font-weight: bold;
	font-size: 55px;
	font-family: 'Encode Sans Condensed', sans-serif;
}
.nav-item{
	font-size: 30px;
}
.btn{
	margin: 5px 1px;
	box-shadow: 2px 2px 8px black;
}
.buttonaccueil .btn{
	padding: 20px 10px;
	margin: 25px 0px;
}
.fa-stack{
	font-size: 10em;
	line-height: 250px;
	width: 300px;
}
.fa-stack-3x {
	font-size:91px;
	margin-right: 40px;
}
.bigcalendar{
	font-size: 323px;
}
.biglogo{
	font-size: 302px;
}
.btnicon{
	width: 327px;
}
.navbar{
	padding: 0.1rem .8rem;
	font-weight: bold;
	text-transform: uppercase;
}
.titre{
	text-align: center;
	font-weight: bold;
	font-size: 55px;
	font-family: 'Encode Sans Condensed', sans-serif;
	margin:20px 20px;
}
.d-block{
	margin: auto;
}
.carousel-inner{
	margin-bottom: 1%;
}
.carousel-inner h1,h2{
	margin-bottom: 70px;
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	font-family: 'Encode Sans Condensed', sans-serif;
}
span{
	font-weight: bold;
}
h4{
	font-size: 20px;
}
.card-title{
	font-size: 60px;
	font-weight: bold;
}
.card{
	font-size: 50px;
}
.card .btn{
	font-size: 45px;
}
table{
	margin-top: 10px;
}
.monument{
	margin-bottom: 1%;
}
.footeur{
	font-size: 45px;
}
.footeur .btn{
	font-size: 50px;
}
.taille{
	font-size: 30px;
}
#mapid {
	height: 390px;
	width: auto;
}
.centersend{
	text-align: center;
}
@media screen {
	
}